// Colors
$grey: rgb(246, 245, 240);
$accent-grey: rgb(213, 213, 212);
$muted-grey: rgba(0, 0, 0, 0.7);
$accent-black: rgba(246, 245, 240, 1);
$purple: rgba(78, 28, 116, 1);
$red: rgba(239, 60, 67, 1);
$black: rgba(0, 0, 0, 1);

// Gradients
$red-gradient: linear-gradient(90deg, $red 0%, $grey 100%);
$purple-gradient: linear-gradient(-90deg, $purple 0%, $grey 100%);
$red-gradient-vertical: linear-gradient(180deg, $red 0%, $grey 100%);
$purple-gradient-vertical: linear-gradient(180deg, $purple 0%, $grey 100%);

// Typography
$scale-factor: 0.9;
$mobile-scale-factor: 0.75;
$font-stack-ariel: "Univers LT Std", "Helvetica Neue", helvetica, "arial", sans-serif;
$font-stack-ygrg-regular: "Coconat", "Times", serif;
$font-stack-ygrg-extended: "Coconat Ext", "Times", serif;
$font-size-small: 10px * $scale-factor;
$font-size-medium: 16px * $scale-factor;
$font-size-large: 20px * $scale-factor;
$line-height: 1.3em;

$font-size-mobile-small: 10px * $mobile-scale-factor;
$font-size-mobile-medium: 16px * $mobile-scale-factor;
$font-size-mobile-large: 20px * $mobile-scale-factor;

// Graphic styles
$line-style: 2px solid $black;
$mobile-line-style: 1px solid $black;

// Spacing
$top-bar-height: 60px;

// Animation
$easing: cubic-bezier(0.23, 1, 0.32, 1);

@mixin hide-scroll {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
}

// Responsive
$breakpoints: (
  "small": (
    max-width: 800px,
  ),
  "medium": (
    max-width: 1000px,
  ),
  "large": (
    max-width: 1600px,
  ),
  "short": (
    max-height: 700px,
  ),
  "wide": (
    min-width: 1200px,
  ),
);

/// Responsive manager.
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin screen-size($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);
  @if $raw-query {
    $query: if(type-of($raw-query) == "string", unquote($raw-query), inspect($raw-query));
    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. ' + 'Please make sure it is defined in `$breakpoints` map.';
  }
}
